<div class="projects container-fluid">

  <div class="actionRow">

    <div class="d-md-flex flex-md-equal w-100 my-md-3">
      <div class="text-white darkbox">
        <div class="img-box center">
          <a class="homepage-link" href="https://blog-site-sff.web.app/home" target="_blank">
            <div class="filter ">
              <img class="img-fluid project-image" src="../../assets/images/blog/blog_home_page.jpg" alt="this">
            </div>
          </a>

        </div>


      </div>

      <div class="card">
        <div class="card-header">
          <h2>Multi-Author Blog</h2>
        </div>
        <div class="card-body">
          <h3>Tech Stack:</h3>
          <ul>
            <li>MongoDB Atlas</li>
            <li>Django</li>
            <li>Angular</li>
            <li>Bootstrap</li>
          </ul>
          <h3 class="pt-4">Description</h3>
          <p>I built this blog in order to better facilitate my use of the Feynman Technique.
            The process is to take whatever process you are learning for the day, at the end try to explain it as though
            you are speaking to someone who has very little to no knowledge in
            the subject. You then identify gaps in your reasoning and iterate this process until it
            feels concrete. I try to post once a day but have not been exceptionally consistent.

          </p>
        </div>
        <div class="card-footer">
          <div class="row">

            <div class="col-4"> <a class="icon-links" href="https://blog-site-sff.web.app/home" target="_blank"><i
                  class="fas fa-globe fa-3x"></i>
                <h5>Live</h5>
              </a>
            </div>


            <div class="col-4"><a class="icon-links disabled"><i class="fab fa-github-square fa-3x"></i>
                <h5>Back-End</h5>
              </a>
            </div>


            <div class="col-4"> <a class="icon-links disabled"><i class="fab fa-github-square fa-3x"></i>
                <h5>Front-End</h5>
              </a>
            </div>



          </div>


        </div>
      </div>


    </div>
  </div>


  <div id="project-one-carousel" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="hover">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h3>Individual Author Page</h3>
        <img class="carousel-img image-fluid" src="../../assets/images/blog/blog_author_page.jpg">

      </div>
      <div class="carousel-item">
        <h3>List of Authors Page</h3>
        <img class="carousel-img image-fluid" src="../../assets/images/blog/blog_authors_page.jpg">


      </div>
      <div class="carousel-item">
        <h3>Post Page</h3>
        <img class="carousel-img image-fluid" src="../../assets/images/blog/blog_post_page.jpg">


      </div>
    </div>
    <a class="carousel-control-prev" href="#project-one-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#project-one-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="actionRow">

    <div class="d-md-flex flex-md-equal w-100 my-md-3">
      <div class="text-center text-white overflow-hidden darkbox">
        <div class="img-box">
          <a class="homepage-link" href="https://pharm-stock-site.web.app/" target="_blank"><img
              class="img-fluid project-image" src="../../assets/images/pharm/pharm_page_img.jpg" alt="this"></a>

        </div>

      </div>
      <div class="card">
        <div class="card-header">
          <h2>Pharmaceutical Actions Page</h2>
        </div>
        <div class="card-body">
          <h3>Tech Stack:</h3>
          <ul>
            <li>MongoDB Atlas</li>
            <li>Django</li>
            <li>Angular</li>
            <li>Bootstrap</li>
          </ul>
          <h3 class="pt-4">Description</h3>
          <p>One of my hobbies is investing in the stock market. As of late I began investing in
            pharmaceutical stocks leading up to actions that I felt would influence their stock price such as getting a
            novel drug approved by the FDA. I struggled to find one good
            source of this information and so was having aggregate from multiple sources. I figured if I was going
            through the process of aggregating anyway it might be useful to have a site to display that info.
          </p>
        </div>
        <div class="card-footer">
          <div class="row">

            <div class="col-4"> <a class="icon-links" href="https://pharm-stock-site.web.app/" target="_blank"><i
                  class="fas fa-globe fa-3x"></i>
                <h5>Live</h5>
              </a>
            </div>


            <div class="col-4"><a class="icon-links disabled"><i class="fab fa-github-square fa-3x"></i>
                <h5>Back-End</h5>
              </a>
            </div>


            <div class="col-4"> <a class="icon-links disabled"><i class="fab fa-github-square fa-3x"></i>
                <h5>Front-End</h5>
              </a>
            </div>



          </div>


        </div>
      </div>

    </div>
  </div>
  <div id="project-two-carousel" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="hover">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h3>Upcoming Actions Page</h3>
        <img class="carousel-img image-fluid" src="../../assets/images/pharm/pharm_upcoming_actions.jpg" alt="">

      </div>
      <div class="carousel-item">
        <h3>Historical Trades Page</h3>
        <img class="carousel-img image-fluid" src="../../assets/images/pharm/pharm_historical_trades.jpg" alt="">

      </div>
      <div class="carousel-item">
        <h3>Pricing Page</h3>
        <img class="carousel-img image-fluid" src="../../assets/images/pharm/pharm_pricing.jpg" alt="">

      </div>
    </div>
    <a class="carousel-control-prev" href="#project-two-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#project-two-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="actionRow">

    <div class="d-md-flex flex-md-equal w-100 my-md-3">
      <div class="text-center text-white overflow-hidden darkbox">
        <div class="img-box">
          <a class="homepage-link" href="https://trading-dashboard-sam.web.app/" target="_blank"><img
              class="img-fluid project-image" src="../../assets/images/trading_dashboard/trading_dashboard_home.jpg"
              alt="this"></a>

        </div>

      </div>
      <div class="card">
        <div class="card-header">
          <h2>Algo Trading Dashboard</h2>
        </div>
        <div class="card-body">
          <h3>Tech Stack:</h3>
          <ul>
            <li>MongoDB Atlas</li>
            <li>Django</li>
            <li>Angular</li>
            <li>Bootstrap</li>
          </ul>
          <h3 class="pt-4">Description</h3>
          <p>This is a trading dashboard that I use to monitor my python scripts which are
            running a momentum based trading algorithm using the <a href="https://alpaca.markets/"
              target="_blank">Alpaca Trading</a> brokerage. The script
            will run on any day the NYSE is open and it trades the tickers <a
              href="https://finance.yahoo.com/quote/oilu/" target="_blank">OILU</a> and <a
              href="https://finance.yahoo.com/quote/oild/" target="_blank">OILD</a>

          </p>
        </div>
        <div class="card-footer">
          <div class="row">

            <div class="col-4"> <a class="icon-links" href="https://trading-dashboard-sam.web.app/" target="_blank"><i
                  class="fas fa-globe fa-3x"></i>
                <h5>Live</h5>
              </a>
            </div>


            <div class="col-4"><a class="icon-links disabled"><i class="fab fa-github-square fa-3x"></i>
                <h5>Back-End</h5>
              </a>
            </div>


            <div class="col-4"> <a class="icon-links disabled"><i class="fab fa-github-square fa-3x"></i>
                <h5>Front-End</h5>
              </a>
            </div>



          </div>


        </div>
      </div>

    </div>
  </div>
  <div id="project-three-carousel" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="hover">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h3>Home Page</h3>
        <img class="carousel-img image-fluid" src="../../assets/images/trading_dashboard/trading_dashboard_home.jpg"
          alt="">

      </div>
      <div class="carousel-item">
        <h3>Disclaimer Page</h3>
        <img class="carousel-img image-fluid"
          src="../../assets/images/trading_dashboard/trading_dashboard_disclaimer.jpg" alt="">

      </div>

    </div>
    <a class="carousel-control-prev" href="#project-three-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#project-three-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="actionRow">

    <div class="d-md-flex flex-md-equal w-100 my-md-3">
      <div class="text-center text-white overflow-hidden darkbox">
        <div class="img-box">
          <a class="homepage-link" href="https://trading-dashboard-sam.web.app/" target="_blank"><img
              class="img-fluid project-image" src="../../assets/images/homepage.jpg" alt="this"></a>

        </div>

      </div>
      <div class="card">
        <div class="card-header">
          <h2>Homepage</h2>
        </div>
        <div class="card-body">
          <h3>Tech Stack:</h3>
          <ul>
            <li>Angular</li>
            <li>Bootstrap</li>
          </ul>
          <h3 class="pt-4">Description</h3>
          <p>This one is fairly self explanatory...

          </p>
        </div>
        <div class="card-footer">
          <div class="row">

            <div class="col-4"> <a class="icon-links" href=""><i class="fas fa-globe fa-3x"></i>
                <h5>Live</h5>
              </a>
            </div>


            <div class="col-4"><a class="icon-links disabled"><i class="fab fa-github-square fa-3x"></i>
                <h5>Back-End</h5>
              </a>
            </div>


            <div class="col-4"> <a class="icon-links disabled"><i class="fab fa-github-square fa-3x"></i>
                <h5>Front-End</h5>
              </a>
            </div>



          </div>


        </div>
      </div>

    </div>
  </div>
</div>
