<div class="container-fluid text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


    <main role="main" class="inner cover">
      <h1 class="cover-heading white-border">Sam McBeth</h1>
      <div class="typewriter white-border">
        <p class="line anim-typewriter-one cursor">Professional Data Analyst</p>
        <div class="show-me-two">
          <p class="line anim-typewriter-two cursor">Self-Taught Programmer</p>
        </div>
        <div class="show-me-three">
          <p class="line anim-typewriter-three cursor">Hobbyist Tinkerer</p>
        </div>
      </div>
      <p class="lead cover-text white-border">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo
        pretium
        sapien, vel pretium odio vehicula vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
        posuere cubilia Curae; Pellentesque egestas est nisi, nec gravida sapien dignissim sit amet. Nunc vehicula
        mollis felis quis commodo. Morbi aliquam velit quis vestibulum rhoncus. Donec volutpat orci ac rutrum commodo.
        Quisque non sapien lobortis, vehicula metus in, dapibus risus. In eu finibus mi, ut ultricies sem. Duis ac
        bibendum dolor. Nulla facilisi. Nunc sit amet augue vitae tortor cursus vehicula.
      </p>

    </main>


  </div>
</div>
