<div class="container-fluid text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


    <main role="main" class="inner cover">
      <h1 class="cover-heading white-border">Sam McBeth</h1>
      <div class="typewriter white-border">
        <p class="line anim-typewriter-one cursor">Professional Data Analyst</p>
        <div class="show-me-two">
          <p class="line anim-typewriter-two cursor">Self-Taught Programmer</p>
        </div>
        <div class="show-me-three">
          <p class="line anim-typewriter-three cursor">Hobbyist Tinkerer</p>
        </div>
      </div>
      <p class="lead cover-text white-border">Hello there, welcome to my page. My name is Sam
        and for a bit more than the last year I've embarked on the endeavour of becoming a software engineer. This all
        begain in college when my last semester I took a fairly introductory cs class and have been hooked ever since. I
        think it largely appealed to my mechanical nature, I've loved cars for as long as I can remember and as of late
        that love has turned to computer hardware and software. Mostly I just enjoy knowing how and why things work the
        way they do.
      </p>

    </main>


  </div>
</div>
