<div class="container-fluid">
  <div class="box-shadow position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Hobbies/Interests</h1>
      <p class="lead font-weight-normal">"Find three hobbies you love: one to make you money, one to keep you in shape,
        and one to be creative"</p>
      <p>-Anonymous</p>
      <p class="lead font-weight-normal">I Can Think of Four...</p>
      <p class="lead font-weight-normal">Cheesy Quotes May Count as a Fifth.</p>

    </div>

  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="mt-4 dark-box mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden box-shadow">
      <div class="my-3 py-3 box-header">
        <h2 class="display-5">Automobiles</h2>
        <p class="lead">"I couldn't find the sports car of my dreams, so I built it myself."</p>
        <p>-Ferdinand Porsche</p>
      </div>
      <div class="bg-white box-shadow mx-auto mt-auto" style="width: 80%; height: 300px;">
        <p class="interest-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo pretium
          sapien, vel pretium odio vehicula vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae; Pellentesque egestas est nisi, nec gravida sapien dignissim sit amet. Nunc vehicula
        </p>
      </div>
    </div>
    <div class="mt-4 white-box bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden box-shadow">
      <div class="my-3 p-3 box-header">
        <h2 class="display-5">The Stock Market</h2>
        <p class="lead">"Rule number one: Don’t lose money. Rule number two: Don’t forget rule number one."</p>
        <p>-Warren Buffet</p>
      </div>
      <div class=" bg-white box-shadow mx-auto mt-auto" style="width: 80%; height: 300px;">
        <p class="interest-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo pretium
          sapien, vel pretium odio vehicula vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae; Pellentesque egestas est nisi, nec gravida sapien dignissim sit amet. Nunc vehicula
        </p>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="mt-4 white-box bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden box-shadow">
      <div class="my-3 p-3 box-header">
        <h2 class="display-5">The Gym</h2>
        <p class="lead">"Do today what others won’t so tomorrow you can do what others can’t."</p>
        <p>-Jerry Rice</p>
      </div>
      <div class="bg-white box-shadow mx-auto mt-auto" style="width: 80%; height: 300px;">
        <p class="interest-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo pretium
          sapien, vel pretium odio vehicula vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae; Pellentesque egestas est nisi, nec gravida sapien dignissim sit amet. Nunc vehicula
        </p>
      </div>
    </div>
    <div class="mt-4 dark-box mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden box-shadow">
      <div class="my-3 py-3 box-header">
        <h2 class="display-5">Computer Hardware</h2>
        <p class="lead">“Computers are good at following instructions, but not at reading your mind.”</p>
        <p>-Donald Knuth</p>
      </div>
      <div class="bg-white box-shadow mx-auto mt-auto" style="width: 80%; height: 300px;">
        <p class="interest-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo pretium
          sapien, vel pretium odio vehicula vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae; Pellentesque egestas est nisi, nec gravida sapien dignissim sit amet. Nunc vehicula
        </p>
      </div>
    </div>
  </div>
</div>
